@font-face {
    font-family: "Cabin Condensed Regular";
    src: url("../fonts/CabinCondensed-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cabin Condensed Medium";
    src: url("../fonts/CabinCondensed-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Cabin Condensed Semi-bold";
    src: url("../fonts/CabinCondensed-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Cabin Condensed Bold";
    src: url("../fonts/CabinCondensed-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}